/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-модифікований | 20110126
   Ліцензія: немає (публічне надбання)
*/

html ,  тіло ,  div ,  span ,  аплет ,  об'єкт ,  iframe ,
h1 ,  h2 ,  h3 ,  h4 ,  h5 ,  h6 ,  p ,  цитата ,  pre ,
a ,  аббр ,  акронім ,  адреса ,  великий ,  цитувати ,  код ,
del ,  dfn ,  em ,  img ,  ins ,  kbd ,  q ,  s ,  samp ,
малий ,  страйк ,  сильний ,  суб ,  sup ,  tt ,  var ,
b ,  u ,  i ,  центр ,
dl ,  dt ,  dd ,  ol ,  ul ,  li ,
набір полів ,  форма ,  мітка ,  легенда ,
таблиця ,  підпис ,  tbody ,  tfoot ,  thead ,  tr ,  th ,  td ,
стаття ,  осторонь ,  полотно ,  деталі ,  вставити ,
малюнок ,  figcaption ,  нижній колонтитул ,  заголовок ,  hgroup ,
меню ,  навігація ,  вихід ,  ruby ​​,  розділ ,  резюме ,
час ,  позначка ,  аудіо ,  відео {
  поле :  0 ;
	відступ :  0 ;
	межа :  0 ;
	font-size :  100 % ;
	шрифт : успадкувати;
	vertical-align : базова лінія;
}

/* переконайтеся, що встановлено деякі стилі фокусування для доступності */
: фокус {
    контур :  0 ;
}

/* Скидання ролі відображення HTML5 для старіших браузерів */
стаття ,  осторонь ,  деталі ,  figcaption ,  малюнок ,
нижній колонтитул ,  заголовок ,  hgroup ,  меню ,  навігація ,  розділ {
	дисплей : блок;
}

тіло {
	висота лінії :  1 ;
}

ol ,  ul {
	стиль списку : немає;
}

blockquote ,  q {
	лапки : немає;
}

цитата : до ,  цитата : після ,
q : до ,  q : після {
	зміст :  '' ;
	зміст : немає;
}

таблиця {
	border-collapse : крах;
	border-spacing :  0 ;
}

input [ type = search ]:: -webkit-search-cancel-button ,
input [ type = search ]:: -webkit-search-decoration ,
input [ type = search ]:: -webkit-search-results-button ,
input [ type = search ]:: -webkit-search-results-decoration {
    -webkit-appearance : немає;
    -moz-зовнішній вигляд : немає;
}

вхід [ тип = пошук ] {
    -webkit-appearance : немає;
    -moz-зовнішній вигляд : немає;
    -webkit-box-sizing : content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
}

textarea {
    переповнення : авто;
    вертикальне вирівнювання : зверху;
    змінити розмір : вертикально;
}

/**
* Правильне відображення `inline-block` не визначено в IE 6/7/8/9 і Firefox 3.
*/

аудіо ,
полотно ,
відео {
    дисплей : inline-block;
    * дисплей : вбудований;
    * масштаб :  1 ;
    максимальна ширина :  100 % ;
}

/**
* Заборонити сучасним браузерам відображати `аудіо` без елементів керування.
* Видаліть зайву висоту в пристроях iOS 5.
*/

аудіо : не ([ елементи керування ]) {
    дисплей : немає;
    висота :  0 ;
}

/**
* Стиль адреси відсутній в IE 7/8/9, Firefox 3 і Safari 4.
* Відома проблема: відсутність підтримки IE 6.
*/

[ приховано ] {
    дисплей : немає;
}

/**
* 1. Виправлено дивне змінення розміру тексту в IE 6/7, коли основний `font-size` встановлено за допомогою
* `em` одиниці.
* 2. Запобігання коригування розміру тексту iOS після зміни орієнтації без вимкнення
* масштаб користувача.
*/

html {
    font-size :  100 % ; /* 1 */
    -webkit-text-size-adjust :  100 % ; /* 2 */
    -ms-text-size-adjust :  100 % ; /* 2 */
}

/**
* Вирішено невідповідність «контуру» між Chrome та іншими веб-переглядачами.
*/

a : фокус {
    контур : тонкий пунктир;
}

/**
* Покращення читабельності під час фокусування та наведення миші в усіх браузерах.
*/

a : активний ,
a : hover {
    контур :  0 ;
}

/**
* 1. Видаліть рамку всередині елемента `a` в IE 6/7/8/9 і Firefox 3.
* 2. Покращення якості зображення при масштабуванні в IE 7.
*/

img {
    межа :  0 ; /* 1 */
    -ms-interpolation-mode : бікубічний; /* 2 */
}

/**
* Поля адреси немає в IE 6/7/8/9, Safari 5 і Opera 11.
*/

фігура {
    поле :  0 ;
}

/**
* Правильне поле дивно відображається в IE 6/7.
*/

форма {
    поле :  0 ;
}

/**
* Визначте узгоджену рамку, поля та відступи.
*/

fieldset {
    рамка :  1 пікс суцільна # c0c0c0 ;
    поле :  0  2 px ;
    padding :  0,35 em  0,625 em  0,75 em ;
}

/**
* 1. Правильний колір не успадковується в IE 6/7/8/9.
* 2. Правильний текст не переноситься у Firefox 3.
* 3. Правильне вирівнювання дивно відображається в IE 6/7.
*/

легенда {
    межа :  0 ; /* 1 */
    відступ :  0 ;
    пробіл : нормальний; /* 2 */
    * поле зліва :  -7 пікселів ; /* 3 */
}

/**
* 1. Правильний розмір шрифту не успадковується в усіх браузерах.
* 2. Поля адреси встановлені по-різному в IE 6/7, Firefox 3+, Safari 5,
* і Chrome.
* 3. Покращити вигляд і послідовність у всіх браузерах.
*/

кнопка ,
введення ,
вибрати ,
textarea {
    font-size :  100 % ; /* 1 */
    поле :  0 ; /* 2 */
    vertical-align : базова лінія; /* 3 */
    * вертикальне вирівнювання : посередині; /* 3 */
}

/**
* Адреса Firefox 3+ налаштування `line-height` на `input` за допомогою `!important` у
* таблиця стилів UA.
*/

кнопка ,
вхід {
    line-height : нормальна;
}

/**
* Виправлено неузгоджене успадкування `text-transform` для `button` і `select`.
* Усі інші елементи керування формою не успадковують значення `text-transform`.
* Правильне успадкування стилю `button` у Chrome, Safari 5+ та IE 6+.
* Виправте успадкування стилю `select` у Firefox 4+ та Opera.
*/

кнопка ,
виберіть {
    перетворення тексту : немає;
}

/**
* 1. Уникайте помилки WebKit в Android 4.0.*, де (2) знищує нативний `audio`
* і елементи керування «відео».
* 2. Виправлена ​​неможливість стилізації типів введення, які можна натиснути, в iOS.
* 3. Покращити зручність використання та узгодженість стилю курсору між типами зображень
* `вхід` та інші.
* 4. Видалення внутрішніх інтервалів в IE 7, не впливаючи на звичайне введення тексту.
* Відома проблема: внутрішній інтервал залишається в IE 6.
*/

кнопка ,
html  input [ type = "button" ] ,  /* 1 */
вхід [ type = "reset" ] ,
input [ type = "submit" ] {
    -webkit-appearance : кнопка; /* 2 */
    курсор : покажчик; /* 3 */
    * перелив : видимий;   /* 4 */
}

/**
* Скинути курсор за замовчуванням для вимкнених елементів.
*/

кнопка [ вимкнено ] ,
 введення html [ вимкнено ] {
    курсор : за замовчуванням;
}

/**
* 1. В IE 8/9 встановлено розмір поля адреси як content-box.
* 2. Видаліть зайве доповнення в IE 8/9.
* 3. Видаліть зайве доповнення в IE 7.
* Відома проблема: в IE 6 залишається зайве доповнення.
*/

вхід [ type = "checkbox" ] ,
input [ type = "radio" ] {
    box-sizing : border-box; /* 1 */
    відступ :  0 ; /* 2 */
    * висота :  13 пікселів ; /* 3 */
    * ширина :  13 пікселів ; /* 3 */
}

/**
* 1. Адреса `appearance` має значення `searchfield` у Safari 5 і Chrome.
* 2. Адреса `box-sizing` встановлена ​​на `border-box` у Safari 5 і Chrome
* (включіть `-moz` для майбутнього).
*/

input [ type = "search" ] {
    -webkit-appearance : текстове поле; /* 1 */
    -moz-box-sizing : content-box;
    -webkit-box-sizing : content-box; /* 2 */
    box-sizing : content-box;
}

/**
* Видаліть внутрішню доставку та кнопку скасування пошуку в Safari 5 і Chrome
* в OS X.
*/

input [ type = "search" ]:: -webkit-search-cancel-button ,
input [ type = "search" ]:: -webkit-search-decoration {
    -webkit-appearance : немає;
}

/**
* Видалення внутрішніх відступів і рамок у Firefox 3+.
*/

кнопка :: -moz-focus-inner ,
input :: -moz-focus-inner {
    межа :  0 ;
    відступ :  0 ;
}

/**
* 1. Видаліть стандартну вертикальну смугу прокрутки в IE 6/7/8/9.
* 2. Покращити читабельність і вирівнювання в усіх браузерах.
*/

textarea {
    переповнення : авто; /* 1 */
    вертикальне вирівнювання : зверху; /* 2 */
}

/**
* Видаліть більшість інтервалів між клітинками таблиці.
*/

таблиця {
    border-collapse : крах;
    border-spacing :  0 ;
}

html ,
кнопка ,
введення ,
вибрати ,
textarea {
    колір :  # 222 ;
}


:: -moz-вибір {
    тло :  # b3d4fc ;
    text-shadow : немає;
}

:: вибір {
    тло :  # b3d4fc ;
    text-shadow : немає;
}

img {
    vertical-align : посередині;
}

fieldset {
    межа :  0 ;
    поле :  0 ;
    відступ :  0 ;
}

textarea {
    змінити розмір : вертикально;
}

. chromeframe {
    поле :  0,2 em  0 ;
    тло :  #ccc ;​
    колір :  # 000 ;
    відступ :  0,2 em  0 ;
}